.ParticularCourse{
    text-align: left !important;
    color: #1d3139;
}
.navbar-header{
    margin-right: 0px !important;
}
.hideOnDesktop{
	display: none;
}

@media screen and (max-width: 768px) {
	.hideOnDesktop{
		display:inline-block;
	}
	.hideOnMobile{display: none;}
}